@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --putih: #ecf0f1;
    --biru: #82ccdd;
    --oren: #f6b93b;
    --abang: #ea8685;
    --teal: #079992;
    
}

*{
    font-family: 'Comfortaa';
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--abang);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--abang);
}

body{
    /* background:#ecf0f1; */
    background:#38ada9;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:var(--biru);
    box-shadow: 0.4rem 0.4rem 0 var(--putih);
    color:#333;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 0.375rem;
    border: 1px solid #333;

}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--abang);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--putih);
    background-color: var(--abang);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:var(--teal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    background: var(--biru);
    height:17rem;
    width:17rem;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 1rem;
    border:0.4rem solid var(--abang);
}

header .user img:hover{
    background: var(--abang);
    border:0.4rem solid var(--biru);
}

header .user .name{
    font-size: 3.5rem;
    color: var(--putih);
}

header .user .post{
    font-size: 2rem;
    color:var(--putih);
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    font-size: 2rem;
    background:var(--biru);
    box-shadow: 0.4rem 0.4rem 0 var(--putih);
    color:#333;
    cursor: pointer;
    border-radius: 0.375rem;
    border: 1px solid #333;
}

header .navbar ul li a:hover{
    background:var(--abang);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--abang);
    text-shadow:
        3px 3px 0 #fff,
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
       -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.port-heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #000000;
    color:#fff;
}

.port-heading span{
    color: #000000;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.kotak-port{
    background: var(--abang);
    display: flex;
    align-items: center;
    box-shadow: 1rem 1rem 0 var(--putih);
    border-radius: 1rem;
    padding: 10px 0px;
    margin-top: 20px;
    margin-left: 20px;
}

.kotak-port:hover{
    box-shadow: 0.4rem 0.4rem 0 var(--putih);
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}


/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }